footer {
  border: 1px solid rgb(200 200 200 / 50%);
  border-width: 1px 0px 0px 0px;

  background-color: white;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .section.align-right{
  display: flex;
  flex-direction: row-reverse;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
